*.background:   {{ .background }}
*.foreground:   {{ .foreground }}
*.color0:       {{ index .base16 0 }}
*.color8:       {{ index .base16 8 }}
*.color1:       {{ index .base16 1 }}
*.color9:       {{ index .base16 9 }}
*.color2:       {{ index .base16 2 }}
*.color10:      {{ index .base16 10 }}
*.color3:       {{ index .base16 3 }}
*.color11:      {{ index .base16 11 }}
*.color4:       {{ index .base16 4 }}
*.color12:      {{ index .base16 12 }}
*.color5:       {{ index .base16 5 }}
*.color13:      {{ index .base16 13 }}
*.color6:       {{ index .base16 6 }}
*.color14:      {{ index .base16 14 }}
*.color7:       {{ index .base16 7 }}
*.color15:      {{ index .base16 15 }}
